__pycache__/
*.py[cod]
.vscode/
.idea/
.DS_Store
Thumbs.db

venv/
env/
.env

.ipynb_checkpoints/

data/
data/*
!data/.gitkeep

models/*
!models/.gitkeep

chroma_db/
airflow_streaming/logs/

postgres_data/